{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss"
  ],
  "ignoreFiles": ["src/prism.css", "dist-demo/**", "coverage/**", "types/**", "*.local", "yarn-error.log", "pnpm-lock.yaml", "package-lock.json", "yarn.lock", "pnpm-workspace.yaml", "pnpm-workspace.yaml.lock"],
  "rules": {
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "keyframes-name-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["deep", "global", "slotted"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep", "v-global", "v-slotted"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["v-bind", "map-get", "map-has-key", "darken", "lighten"]
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "import-notation": null,
    "value-keyword-case": [
      "lower",
      {
        "ignoreFunctions": ["v-bind"],
        "ignoreKeywords": ["Nunito", "Avenir", "Helvetica", "Arial", "Consolas", "Monaco"]
      }
    ],
    "custom-property-empty-line-before": null,
    "media-query-no-invalid": null
  },
  "overrides": [
    {
      "files": ["**/*.vue"],
      "customSyntax": "postcss-html"
    },
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}