/* Import design tokens */
@import './styles/tokens';

#app {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-text-dark);
  margin-top: 50px;
  height: 100%;
}

html,
body {
  height: 100%;
}

